<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="LocalizacaoArchive" value="D:\openPDC\Archive\" />
    <add key="InicioHorarioDeVerao" value="18/10/2014" />
    <add key="FimHorarioDeVerao" value="21/02/2015" />
    <add key="Repeticao" value="UmaVez" /> <!-- Valores possíveis: Diaria / UmaVez -->
    <add key="DataInicio" value="07/05/2015" /> <!-- dd/mm/aaaa -->
    <add key="HoraInicio" value="00:00:00" /> <!-- hh:mm:ss - HORÁRIO DE BRASÍLIA -->
    <add key="TamanhoSubconjuntoPMUs" value="4" />
    <add key="IntervaloTotalEmHoras" value="24" />
    <add key="IntervaloDoServicoEmHoras" value="1" />
    <add key="TimeoutDoServicoEmSegs" value="180" />
    <add key="NumDeTentativasDoServico" value="3" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>